@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0f172a; /* bg-slate-900 */
    background-image: radial-gradient(circle at 1px 1px, #1e293b 1px, transparent 0); /* bg-slate-800 */
    background-size: 2rem 2rem;
}